.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background: transparent;
    border-bottom: 1px solid var(--border);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: 0 var(--gap);
    align-items: center;
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: var(--headersize);
    font-weight: 500;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 18px;
    margin: auto 6px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: 18px;
}

#menu a {
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary);
}

#menu .active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
