.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: 0 auto;
    padding: calc(var(--gap) * 1.4) var(--gap) calc(var(--gap) * 2);
}

.page-header h1 {
    font-size: var(--h1size);
    line-height: 1.1;
    letter-spacing: -0.03em;
}

.page-header,
.post-header {
    max-width: 780px;
}

.post-content,
.post-header,
.page-header,
.pagination,
.post-entry {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons a {
    display: inline-flex;
    padding: 8px 14px 8px 0;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

.social-icons a:hover {
    color: var(--darkcolor);
}

code {
    direction: ltr;
}

code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
